/* Loại bỏ hiệu ứng hover trên tất cả các bảng */
table tbody tr:hover {
    background-color: transparent !important;
}

/* Định nghĩa màu đỏ cho liên kết */
.custom-link {
    color: red !important; /* Màu đỏ */
    text-decoration: underline; /* Loại bỏ gạch chân nếu muốn */
}

/* Định nghĩa màu và kiểu liên kết */
.custom-hover-link {
    color: red; /* Màu mặc định của liên kết */
    text-decoration: underline; /* Loại bỏ gạch chân */
}

/* Hiệu ứng hover */
.custom-hover-link:hover {
    color: orange; /* Màu khi hover */
    text-decoration: underline; /* Thêm gạch chân khi hover */
}